<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <title>许久没道过早安的后台</title>
    <style>
        html body {
            padding: 0px;
            margin:0px;
        }
        #body {
            background-color:whitesmoke;
        }
        #main{
            margin: auto;
            width: 30%;
            padding-top:300px;
        }
        .layui-card{
            height:200px;
            padding:30px;
        }
    </style>
</head>
<body>
<div id="body">
    <div class="layui-fluid">
        <div id="main">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form" action="" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                用户名
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="username" required placeholder="请输入用户名" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                密码
                            </label>
                            <div class="layui-input-block">
                                <input type="password" name="password" required placeholder="请输入密码" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="submit">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    var height = window.innerHeight;
    var width = window.innerWidth;
    document.getElementById("body").style.height = parseInt(height)+"px";
    document.getElementById("body").style.width = parseInt(width)+"px";
    // layui.use('form',function(){
    //    // var form = layui.form;
    //    // form.on('submit(submit)',function(data){
    //    //     layer.alert(JSON.stringify(data.field));
    //    //     // return false;
    //    // });
    // });
</script>
</body>
</html>