
<div id="header" class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md4">

            <div class="layui-col-md5">
                <a href="/index" type="button">
                    <h2>许久没道过早安</h2>
                </a>
            </div>
            <div class="layui-col-md7">
                &nbsp;
            </div>

        </div>
        <div class="layui-col-md4">
            &nbsp;
        </div>
        <div class="layui-col-md4">
            <h2>
                <a href="/index">首页</a>
                &nbsp;
                <a href="/label">分类</a>
                &nbsp;
                <a href="/about">关于</a>
                &nbsp;
                <a href="/message">留言板</a>
                &nbsp;
                <a href="/link">链接地址</a>
            </h2>

        </div>
    </div>
</div>